<div class="result_area pt-5">
  <div class="text-center">
    <p class=" description"><strong class="text-danger"><%= @district.name  %> <%= @town.name %></strong>の総合危険度は<strong class="text-danger">ランク<%= @rank.total_danger_rank %></strong>です。</p>
    <% if @type.id == 7 && @rank.total_danger_rank == 1 %>
      <p class="description pb-3"><strong class="text-danger">全てのランクが最も低く安全</strong>です。有事に備えて必要な防災グッズを準備しましょう！</p>
    <% else %>
      <p class="description pb-3"><strong class="text-danger"><%= @type.name %></strong>の危険度が高いので、必要な防災グッズを準備しましょう！</p>
    <% end %>
  </div>
  <div class="chart-area m-auto mb-4">
    <canvas id="myChart"></canvas>
  </div>
    <!-- 共有ボタン -->
    <div class="actions text-center pt-4 mb-4">
    <div class= "position-relative">
      <%= link_to "https://twitter.com/share?url=#{request.url}%0a%0a&&text=#{@district.name}#{@town.name}の総合危険度は『ランク#{@rank.total_danger_rank}』です！詳しくはアプリをチェックして災害に備えましょう！%0a%0a&&hashtags=サイ適くん,災害危険度,防災グッズ", target: '_blank', class: 'btn btn-primary stretched-link', rel: 'noopener' do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16"><path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/></svg>        
        災害危険度の結果をツイッターで共有する
      <% end %>
      </div>
      </div>
      <div class= "actions text-center mb-2 position-relative">
      <%= link_to "http://line.me/R/msg/text/?#{@district.name}#{@town.name}の総合危険度ページがシェアされました！災害危険度を見て災害に備えましょう！%0a#{request.url}%0ali", class: 'btn btn-success stretched-link' do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-line" viewBox="0 0 16 16">
        <path d="M8 0c4.411 0 8 2.912 8 6.492 0 1.433-.555 2.723-1.715 3.994-1.678 1.932-5.431 4.285-6.285 4.645-.83.35-.734-.197-.696-.413l.003-.018.114-.685c.027-.204.055-.521-.026-.723-.09-.223-.444-.339-.704-.395C2.846 12.39 0 9.701 0 6.492 0 2.912 3.59 0 8 0ZM5.022 7.686H3.497V4.918a.156.156 0 0 0-.155-.156H2.78a.156.156 0 0 0-.156.156v3.486c0 .041.017.08.044.107v.001l.002.002.002.002a.154.154 0 0 0 .108.043h2.242c.086 0 .155-.07.155-.156v-.56a.156.156 0 0 0-.155-.157Zm.791-2.924a.156.156 0 0 0-.156.156v3.486c0 .086.07.155.156.155h.562c.086 0 .155-.07.155-.155V4.918a.156.156 0 0 0-.155-.156h-.562Zm3.863 0a.156.156 0 0 0-.156.156v2.07L7.923 4.832a.17.17 0 0 0-.013-.015v-.001a.139.139 0 0 0-.01-.01l-.003-.003a.092.092 0 0 0-.011-.009h-.001L7.88 4.79l-.003-.002a.029.029 0 0 0-.005-.003l-.008-.005h-.002l-.003-.002-.01-.004-.004-.002a.093.093 0 0 0-.01-.003h-.002l-.003-.001-.009-.002h-.006l-.003-.001h-.004l-.002-.001h-.574a.156.156 0 0 0-.156.155v3.486c0 .086.07.155.156.155h.56c.087 0 .157-.07.157-.155v-2.07l1.6 2.16a.154.154 0 0 0 .039.038l.001.001.01.006.004.002a.066.066 0 0 0 .008.004l.007.003.005.002a.168.168 0 0 0 .01.003h.003a.155.155 0 0 0 .04.006h.56c.087 0 .157-.07.157-.155V4.918a.156.156 0 0 0-.156-.156h-.561Zm3.815.717v-.56a.156.156 0 0 0-.155-.157h-2.242a.155.155 0 0 0-.108.044h-.001l-.001.002-.002.003a.155.155 0 0 0-.044.107v3.486c0 .041.017.08.044.107l.002.003.002.002a.155.155 0 0 0 .108.043h2.242c.086 0 .155-.07.155-.156v-.56a.156.156 0 0 0-.155-.157H11.81v-.589h1.525c.086 0 .155-.07.155-.156v-.56a.156.156 0 0 0-.155-.157H11.81v-.589h1.525c.086 0 .155-.07.155-.156Z"/></svg>
        災害危険度の結果をラインで共有する
      <% end %> 
      </div>
    </div>

  <div class="container mb-5">
    <div class='m-auto mt-5 mb-5 text-center'>
      <small>総合危険度の分布</small>
      <div class='w-100 mb-5'>
        <%= image_tag 'RankChart.png', class: 'rank-chart' %>
      </div>
      <small class='float-left'>都内全域の総合危険度分布図</small>
      <div class='w-100'>
        <%= image_tag 'RankMap.png', width: '80%' %>
      </div>
    </div>
    <div class="accordion" id="hazard">
      <h4 class="text-left">災害危険度とは？</h4>
      <small class="more-info">詳細な情報は<a href="https://www.toshiseibi.metro.tokyo.lg.jp/bosai/chousa_6/home.htm">地震に関する地域危険度測定調査</a>（都市整備局HP）をご覧ください</small>
      <div class="accordion-item">
        <h1 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          火災危険度について
          </button>
        </h1>
      </div>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
        <div class="accordion-body">
          <div class="container">
            <h5>火災危険度とは</h5>
            <p>
              地震に伴う火災の延焼により、広い地域で被害を受ける危険性について指します。<br />
              火災危険度は、<strong>出火の危険性</strong>と<strong>延焼の危険性を基に測定</strong>しています。
            </p>
            <br />
            <div class="rank_main">
              <div class="rank_instruction">
                <h5>①出火の危険性</h5>
                <p>地震の発生により火災が生じる危険性について、<strong>世帯や火災器具等の使用状況や、出火率、地盤の揺れやすさなど</strong>から測定したものです。</p>
                <br />
                <h5>②延焼の危険性</h5>
                <p>火災が発生した場合の延焼火災の危険性について、延焼時間を12時間と設定し、<strong>建物構造や隣接する建物との間隔などから測定</strong>したものです。</p>
              </div>
              <div class="item_image">
                <%= image_tag 'FireRank.png', class: 'image_size' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h1 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          建物倒壊危険度について
          </button>
        </h1>
      </div>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
        <div class="accordion-body">
          <div class="container">
            <h5>建物倒壊危険度とは</h5>
            <p>
              地震の揺れによって建物が壊れたり傾いたりする危険性の度合いを測定したものを指します。<br />
              建物倒壊危険度は、<strong>町丁目内の地盤特性</strong>と<strong>建物特性により測定</strong>しています。
            </p>
            <br />
            <div class="rank_main">
              <div class="rank_instruction">
                <h5>①地盤特性</h5>
                <p>
                建物倒壊の危険性は、<strong>地盤の特性</strong>による影響を受けます。<br />
                東京の地盤は<strong>山地・丘陵地、山の手の台地、下町の沖積低地、台地を刻む谷からできている谷底低地</strong>に分類されます。
                </p>
                <br />
                <h5>②建物特性</h5>
                <p>建物倒壊の危険性は、建物の特性による影響を受けます。建物は、<strong>耐震性が低いほど倒壊の危険性が高く</strong>なります。</p>
              </div>
              <div class="rank_image">
                <%= image_tag 'BuildingCollapseRank.png', class: 'image_size' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h1 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          活動困難危険度について
          </button>
        </h1>
      </div>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
        <div class="accordion-body">
          <div class="container">
            <h5>活動困難危険度とは</h5>
            <p>
              地震により建物が倒壊したり、火災が発生した際、<strong>危険地域からの避難や消火・救助活動のしやすさ（困難さ）が、被害の大きさに影響</strong>します。<br />
              このような活動のしやすさ（困難さ）を、災害時活動に有効な空間量や、道路ネットワーク密度といった道路基板などの整備状況から評価した指標が<strong>「災害時活動困難係数」</strong>です。<br />
              災害時活動困難度は、<strong>活動有効空間不足率</strong>と<strong>道路ネットワーク密度不足率</strong>から算定しています。
            </p> 
            <br />
            <div class="rank_main">
              <div class="rank_instruction">
                <h5>①活動有効空間不足率</h5>
                <p><strong>避難や、消火・救助・救援など災害時活動に有効な空間の、町丁目名面積に対する不足率</strong>を指します。</p>
                <br />
                <h5>②道路ネットワーク密度不足率</h5>
                <p>避難や、消火・救助・救援など災害時活動のために<strong>広幅員道路と被災地をつなぐ、地域レベルの道路ネットワークの不足率を表す指標</strong>です。</p>
              </div>
              <div class="rank_image">
                <%= image_tag 'ActiveDifficultyRank.png', class: 'image_size' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h1 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          総合危険度について
          </button>
        </h1>
      </div>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour">
        <div class="accordion-body">
          <div class="container">
            <h5>総合危険度とは</h5>
            <p>
              皆様の街の地震の危険性をわかりやすく示すために、地震の揺れによる<strong>建物倒壊や、火災の危険性</strong>を足し合わせ、<br />
              その上で<strong>災害時活動の困難さ</strong>を係数として掛け合わせ、一つの指標にまとめたものです。
            </p>
            <br />
            <div class="container m-auto text-center">
              <%= image_tag 'TotalDangerRank.png', class: 'image_size' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="actions text-center pt-4 mb-5">
    <%= link_to "おすすめグッズを見る", goods_path(type_id: @type_id), class: "main-btn" %>
  </div>
</div>

<script>
  const ctx = document.getElementById('myChart').getContext('2d');
  const myChart = new Chart(ctx, {
    type: 'radar',
    data: {
      labels: ['火災危険度', '建物倒壊危険度', '活動困難危険度'],
      datasets: [{
        label: '危険度グラフ',
        data: [
          <%= @fire_danger_rank %>,
          <%= @building_collapse_rank %>,
          <%= @active_difficulty_rank %>
        ],
        // グラフを塗りつぶすかどうか。初期値はtrue。
        fill: true,
        backgroundColor: ['rgba(255, 99, 132, 0.2)'],
        borderColor: ['rgba(255, 99, 132, 1)'],
        borderWidth: 2
      }]
    },
    options: {
      plugins: {
        legend: {
          labels: {
            font: {
              size: 14
            }
          }
        }
      },
      scales: {
        r: {
          ticks: {
            autoSkip: false,
            max: 5,
            stepSize: 1
          },
          // グラフの最小値・最大値
          min: 0,
          max: 5,
          // 背景色
          backgroundColor: 'snow',
          // グリッドライン
          grid: {
            // color: 'gray',
          },
          // アングルライン
          angleLines: {
            color: 'red',
          },
          // 各項目のラベル
          pointLabels: {
            color: 'black',
            font: {
              size: 14
            }
          },
        },
      },
    },
  })
</script>
