<div class="text-center pt-5">
  <h4>お住まいの地域の総合危険度は...<strong class="text-danger">ランク<%= @rank.total_danger_rank %></strong>です。</h4>
  <h4 class="pb-3">特に<strong class="text-danger"><%= @type.name %></strong>の危険度が高いので、必要な防災グッズを準備しましょう！</h4>
  <div class="m-auto" style="position: relative; height: 55vh; width: 55vh;">
    <canvas id="myChart"></canvas>
  </div>
  <ul>
    <h5 class="text-start mx-auto" style="width:800px;">
      <li>火災危険度　　・・・火災の発生による延焼の危険性</li>
      <li>建物倒壊危険度・・・建物倒壊の危険性</li>
      <li>活動困難危険度・・・道路・公園等の整備状況による災害時の活動の困難さ</li>
    </h5>
  </ul>
  <div class="actions text-center">
    <%= link_to "おすすめグッズを見る", goods_path(type_id: @type_id), class: "btn btn-outline-dark" %>
  </div>
</div>

<script>
const ctx = document.getElementById('myChart').getContext('2d');
  const myChart = new Chart(ctx, {
    type: 'radar',
    data: {
      labels: ['火災危険度','建物倒壊危険度', '活動困難危険度'],
      datasets: [{
        label: '危険度グラフ',
        data: [
          <%= @fire_danger_rank %>,
          <%= @building_collapse_rank %>,
          <%= @active_difficulty_rank %>
        ],
        // グラフを塗りつぶすかどうか。初期値はtrue。
        fill: true,
        backgroundColor: ['rgba(255, 99, 132, 0.2)'],
        borderColor: ['rgba(255, 99, 132, 1)'],
        borderWidth: 2
      }]
    },
    options: {
      plugins: {
        legend: {
          labels: {
            font: {
              size: 18
            }
          }
        }
      },
      scales: {
        r: {
          ticks: {
            autoSkip: false,
            max: 5,
            stepSize: 1
          },
          // グラフの最小値・最大値
          min: 0,
          max: 5,
          // 背景色
          backgroundColor: 'snow',
          // グリッドライン
          grid: {
            // color: 'gray',
          },
          // アングルライン
          angleLines: {
            color: 'red',
          },
          // 各項目のラベル
          pointLabels: {
            color: 'black',
            font: {
              size: 16
            }
          },
        },
      },
    },
  })
</script>